# IDE directories
.idea

# Build directories
.gradle
build
out

# Testing directories
JFDFTransformer
transform_out
src/test/java/net/jfdf/test/compiler
src/test/java/net/jfdf/test/viewer
src/test/java/net/jfdf/test/tetris
lib

# Build files
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat

# JFDF Builder Files
db.json
builder_output

# IDE/Test extensions
*.iml
*.jar
*.zip
